* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 1920px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* #1abc9c */

.component1 {
    display: flex;
    height: 55;
    background-color: rgba(34, 37, 51, 0.902);
    /* border: 1px #707070 solid; */
    padding-left: 373px;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 35.69px;
    line-height: 13.77px;
    margin-top: 28px;
    margin-bottom: 20px;
    padding-bottom: 3.5px;
    align-items: center;
    text-align: center;
}

.logo > .logo-text {
    text-align: center;
    margin-left: 15px;
}

.logo-text .bold {
    font-weight: 900;
}

.links {
    font-size: 15.86px;
    line-height: 13.77px;
    text-align: center;
}

.links > a {
    /* padding-top: 38.5px; */
    color: #ffffff;
    text-decoration: none;
    margin-left: 43px;
}

.links > a:first-of-type{
    margin-left: 87.5px;
}

.links > a:hover {
    color: #1abc9c;
    border-top: 5px #1abc9c solid;
    padding-top: 36px;
    /* margin: 10px; */
}

.icons {
    display: flex;
    align-items: top;
    margin-left: 38px;
    /* justify-content: space-around; */
}

.icons a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

/* COMPONENT 2 */

.component2 {
    display: flex;
    background-color: #404249;
    justify-content: center;
    padding: 370px 0 475px 0;
}

.bigtext {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 90px;
    margin-bottom: -4px;
    margin-left: 11px;
    word-spacing: -4px;
}

.heading .teal {
    color: #03fbca;
}

.subheading {
    text-transform: capitalize;
    font-size: 25px;
    margin-left: 14px;
    word-spacing: 4px;
}

.leftarrow {
    position: absolute;
    left: 50px;
    padding-top: 10px;
    align-self: center;
}

.component2 button {
    background-color: #03fbca;
    color: #404249;
    border: 1px #03fbca solid;
    padding: 11px 13px;
}

.component2 button:hover {
    background-color: #404249;
    color: #ffffff;
    border: 1px #ffffff solid;
}

.rightarrow {
    position: absolute;
    padding-top: 11px;
    right: -285px;
    align-self: center;
    justify-self: center;
}

.downarrow > a {
    position: absolute;
    bottom: 0;
    color: inherit;
}

/* .component2::after{
    position: absolute;
    content: 'TEST';
    color: white;
    bottom: 1px;
} */